<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <title>{{ site.title | default: site.github.repository_name }}</title>

    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    <meta name="viewport" content="width=device-width">
    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  </head>
  <body>
    <div class="wrapper">
      <header>
        <h1>{{ site.title | default: site.github.repository_name }}</h1>
        <p><img src="assets/images/Longhorn.png" width=50px height=auto /></p>
<!--         <p>{{ site.description | default: site.github.project_tagline }}</p> -->

        <p><a href="index.html" id="nonlink">Resume</a></p>
        <p><a href="portfolio.html" id="nonlink">Portfolio</a></p>
        <p><a href="https://www.linkedin.com/in/jonathanong/" id="nonlink" target="_blank">Linkedin</a></p>
        <p><a href="mailto:jonong@utexas.edu" id="nonlink">Contact</a></p>

      </header>
      <section>

      {{ content }}

      </section>
     <footer>
        <p><small>&copy; 2017 Kit & Port</small></p>
      </footer>
    </div>
    <script src="{{ '/assets/js/scale.fix.js' | relative_url }}"></script>

  </body>
</html>
